* {
    box-sizing: border-box;
}
                    
body, .nav_list, .nav_links {
    padding: 0;
    margin: 0;
}
h3, p, .nav_list{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*NAVBAR STYLING STARTS HERE */
header{
    background: #222;
}     
a{
	cursor: pointer;

}
.nav_list_links a:hover{
	background: #fff;
	color: #222;
}      
.nav--dark {
    width: 95%;
    margin: 0 auto;
}
                    
.nav_list, .nav_list_links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
 }
                    
.nav_list {
    padding: 30px 0;
}

.nav_links {
    color: #fff;
    line-height: 14px;
    padding: 15px 15px;
    text-decoration: none;
}
 /*NAVBAR ENDS HERE */


 /*BANNER STARTS HERE */
                    
.banner {
    background-image: url('../../assets/img/img3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 350px;
}
                    
.banner_container {
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}
                    
.banner_storyline {
    color: #fff;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 900;
}
                    
 /*COLUMNS STARTS HERE */
                    
.columns_container {
    margin: 0 auto;
    max-width: 1011px;
    width: 100%;
}
.columns_row, .columns_column, .columns_d-flex{
    display: flex;
    flex-wrap: wrap;
}
.columns_column, .columns_column100{
    flex: 0 0 100%;
}
.columns_column50{
    flex: 0 0 50%;
}
